# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# uv
.python-version

# Environment variables
.env

# Collected static files
staticfiles/
